<% posts.each do |post| %>
  <hr />

  <div>
    <h2>
      <%= post.title %><br />
      <small>
        by <%= post.user.firstname %> <%= post.user.lastname %>
        in <%= post.blog.name %>
      </small>
    </h2>
    <p><%= truncate(post.body, length: 300, separator: ' ') %> <a href="<%= post_path(post) %>">Read more</a></p>
  </div>
<% end %>
